p{
    font-family: foffaa;
}
h1,h2,h3,h4,h5,h6{
    font-family: toufii;
}
/* :root{
    --bs-body-color:black;
} */

@font-face{
    font-family: toufii;
    src: url(./fonts/impact-font/impact.ttf);
}

@font-face {
    font-family: foffaa;
    src: url(./fonts/times-new-roman-cufonfonts/times.ttf);
}

button{
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
    font-size: 10px;
}

button:hover{
    background-color: green;
}